<div class="row">
<div class="col-md-12">
 
  <% if @user.userplayers.count == 0 %>
    <h4>Hi <strong> <%= @user.name %></strong></h4><hr>

    
    <%= form_tag create_predictions_user_path, method: :post do %>
      <%= submit_tag 'Create My Predicitions' %>
    <% end %>
     <hr>

 <% else %>
 
 <ul class="nav nav-tabs">
   <li role="presentation" class="active"><%= link_to "Scoring", user_path(@user) %></li>
   <li role="presentation"><%= link_to "Pick Squad", pick_team_user_path(@user) %></li>
   <li role="presentation"><%= link_to "Predict Games", predict_games_user_path(@user) %></li>
 </ul>
 <br>
 <h5>You have selected <%= @selected.count %> out of 37 players<br>
 You are <%= game_prediction_progress(@user) %>% through creating game predictions</h5>
 
 
 <table class="table table-condensed">
 <thead>
   <th><small>Date</th>
   <th><small>Opposition</th>
   
   <th><small>Predicted Gap</th>
   <th><small>Actual Gap</th>
   <th><small>Points for Margin</th>
   
   <th><small>Predicted Winner</th>
   <th><small>Actual Winner</th>
   <th><small>Points for Winner</th>
 </thead>
 <tbody>
 <% @user.usergames.each do |usergame| %>

   <tr>
     <td><%= Game.find(usergame.game_id).game_date %></td>
     <td><%= Game.find(usergame.game_id).home_team %></td>
     
     <td><%= reverse_points_margin(usergame.winning_margin)%></td>
     <td><%= Game.find(usergame.game_id).gap %></td>
     <td><% if points_margin(usergame.game_id)==usergame.winning_margin %>1<% elsif points_margin(usergame.game_id)== "MISSING" %> <% else %>0<% end %></td>
       
     <td><% if usergame.home_win==true %>Home<% elsif usergame.home_win==false %>Lions<% else %>Not declared<% end %></td>
     <td><%= who_won(usergame.game_id)%></td>   
     <td><%= point_for_outcome(usergame.game_id,usergame.home_win) %></td>
   </tr>

 <% end %>  
 </tbody>
 </table>

 
<% end %>

</div>
</div>